<section class="container section" style="max-width:420px">
  <h1>Restablecer contraseña</h1>
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <div class="field"><label>Nueva contraseña<input type="password" name="customer[password]" required></label></div>
    <div class="field"><label>Confirmar<input type="password" name="customer[password_confirmation]" required></label></div>
    <button type="submit" class="btn btn--primary btn--block">Guardar</button>
  {% endform %}
</section>