<section class="container err-404">
  <h1>404</h1>
  <p>La página que buscas no existe.</p>
  <a href="{{ routes.root_url }}" class="btn btn--primary mt-4">Ir al inicio</a>
</section>
{% schema %}
{ "name": "404", "settings": [], "enabled_on": { "templates": ["404"] } }
{% endschema %}